<div class="fractal" fxLayout.gt-md="row" fxLayout.lt-md="column">
  <div class="tui-col_md_3 tui-col_lg_3">
    <form [formGroup]="fractalForm" (ngSubmit)="onSubmit()">
      <div class="details">
        <h3 class="tui-form__header">
          Właściwości
        </h3>
        <div class="tui-form__row">
          <div tuiGroup class="group">
            <tui-radio-block contentAlign="right" formControlName="type" item="mandelbrot" size="m">
              Mandelbrot
            </tui-radio-block>
            <tui-radio-block contentAlign="right" formControlName="type" item="julia" size="m">
              Zbiór Julii
            </tui-radio-block>
          </div>
        </div>
        <div class="tui-form__row">
          <tui-input-count formControlName="iters" [min]="10">
            Liczba iteracji
          </tui-input-count>
        </div>
        <div class="tui-form_row">
          Dane
          <section>
            max_x: {{getControl('max_x').value}} <br />
            min_x: {{getControl('min_x').value}} <br />
            max_y: {{getControl('max_y').value}} <br />
            min_y: {{getControl('min_y').value}} <br />
            width: {{getControl('w').value}} <br />
            height: {{getControl('h').value}} <br />
          </section>
        </div>
        <div class="tui-form__buttons">
          <button tuiButton class="tui-form__button" size="m" type="submit"
            [disabled]="fractalForm.invalid">
            Generuj
          </button>
        </div>
      </div>
    </form>
  </div>
  <div #imageDiv>
    <app-display [image]="image"></app-display>
  </div>
</div>


