<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <tui-island id="login-island">
    <div class="tui-col_12">
      <h3 class="tui-form__header">
        Zaloguj się
      </h3>
      <div class="tui-form__row">
        <tui-input tuiTextfieldExampleText="Twój email" formControlName="email">
          Twój email<span class="tui-required"></span>
        </tui-input>
      </div>
      <div class="tui-form__row">
        <tui-input-password class="tui-space_top-2" formControlName="password">
          Twoje hasło<span class="tui-required"></span>
        </tui-input-password>
      </div>
      <div class="tui-form__buttons">
        <button tuiButton class="tui-form__button" size="m" type="submit" [showLoader]="loading"
          [disabled]="loginForm.invalid">
          Zaloguj
        </button>
      </div>
    </div>
  </tui-island>
</form>
