.header {
  padding: 10px;
  padding-left: 15px;
  margin: 10px;
  text-align: left;
  box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
  border-radius: 10px;
}

a,
a:hover,
a:active,
a:visited {
  text-decoration: none;
  color: inherit;
}
