<div class="header">
  <div fxFlex fxLayout fxLayoutAlign="flex-start">
    <a routerLink="/fractals">
      <h1>Fractals</h1>
    </a>
  </div>
  <div fxFlex fxLayout fxLayoutGap="10px" fxLayoutAlign="flex-end">
    <button *ngIf="isUser | async" tuiIconButton type="button" icon="tuiIconUser" (click)="navProfile()"></button>
    <button *ngIf="isUser | async" tuiIconButton type="button" icon="tuiIconLogoutLarge" (click)="logout()"></button>
    <button *ngIf="!(isUser | async)" tuiIconButton type="button" icon="tuiIconLoginLarge"
      (click)="navLogin()"></button>
  </div>
</div>
