<div class="container">
  <tui-island>
    <h2 class="tui-island__title">
      Dane osobowe
    </h2>
    <div class="tui-container tui-container_adaptive">
      <div class="tui-row tui-row_adaptive">
        <div class="tui-col_xs-12 tui-col_s-12 tui-col_sm-4 tui-col_md-4 tui-col_lg-4">
          <h4>Imię i nazwisko</h4>
          {{user$.fullname}}
        </div>
        <div class="tui-col_xs-12 tui-col_s-12 tui-col_sm-4 tui-col_md-4 tui-col_lg-4">
          <h4>Adres email</h4>
          {{user$.email}}
        </div>
      </div>
    </div>
  </tui-island>
</div>
