<form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
  <tui-island>
    <div class="tui-col_12">
      <h3 class="tui-form__header">
        Zarejestruj się
      </h3>
      <div class="tui-form__row">
        <tui-input tuiTextfieldExampleText="Twój email" formControlName="email">
          Twój email<span class="tui-required"></span>
        </tui-input>
      </div>
      <div class="tui-form__row">
        <tui-input-password class="tui-space_top-2" formControlName="password">
          Twoje hasło<span class="tui-required"></span>
        </tui-input-password>
        <label tuiLabel class="tui-space_bottom-4 tui-space_left-2">Hasło musi zawierać przynajmniej 6 znaków</label>
      </div>
      <div class="tui-form__row">
        <tui-input tuiTextfieldExampleText="Twój email" formControlName="firstName">
          Imię<span class="tui-required"></span>
        </tui-input>
      </div>
      <div class="tui-form__row">
        <tui-input tuiTextfieldExampleText="Twój email" formControlName="lastName">
          Nazwisko<span class="tui-required"></span>
        </tui-input>
      </div>
      <div class="tui-form__buttons">
        <button tuiButton class="tui-form__button" size="m" type="submit" [showLoader]="loading" [disabled]="signupForm.invalid">
          Utwórz konto
        </button>
      </div>
    </div>
  </tui-island>
</form>
